<div class="modal-header">
    <h3 class="modal-title">Добавление продукта</h3>
</div>
<div class="modal-body">
    <form name="foodItem" class="form-horizontal" ng-submit="$ctrl.submit()" novalidate>
        <fieldset>
            <div class="form-group">
                <label for="inputShortName" class="col-md-3 control-label">Наименование</label>
                <div class="col-md-8">
                    <input type="text" 
                        class="form-control" 
                        id="inputShortName" 
                        name="shortName" 
                        maxlength="40" 
                        autocomplete="off"
                        uib-typeahead="item as item.shortName for item in $ctrl.getItems($viewValue)"
                        typeahead-show-hint="true"
                        typeahead-on-select="$ctrl.onSelected()"
                        typeahead-editable="false"
                        required 
                        ng-model="$ctrl.selectedItem">
                </div>
            </div>

            <div class="form-group">
                <label for="inputWeight" class="col-md-3 control-label">Вес, г</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="inputWeight" name="weight" ng-model="$ctrl.weight" autocomplete="off" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputTime" class="col-md-3 control-label">Время</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="inputTime" ng-model="$ctrl.time" name="time">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.onClickCansel()">Отмена</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.onClickOk()">Сохранить</button>
</div>
