<div class="calendar">
    <calendar-toolbar date="$ctrl.date" period="$ctrl.period" handlers="$ctrl.toolbarHandlers"></calendar-toolbar>
    <div class="calendar__body">
        <calendar-year date="$ctrl.date" handlers="$ctrl.yearHandlers" ng-if="$ctrl.isYear()"></calendar-year>
        <calendar-month date="$ctrl.date" handlers="$ctrl.monthHandlers" ng-if="$ctrl.isMonth()"></calendar-month>
        <calendar-week date="$ctrl.date" handlers="$ctrl.weekHandlers" ng-if="$ctrl.isWeek()"></calendar-week>
        <calendar-day date="$ctrl.date" handlers="$ctrl.dayHandlers" ng-if="$ctrl.isDay()"></calendar-day>
    </div>    
</div>
