.calendar {
    .calendar__day {
        .table__emptyRow {
            line-height: 120px;
            text-align: center;
        }

        .link {
            cursor: pointer;
            text-decoration: none;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: transparent;

            &:hover {
                border-bottom-color: #0ce3ac;
            }
        }

        .link--local {

        }
    }
}
