<div class="calendar__day">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-muted">Время</th>
                <th class="text-muted">Наименование</th>
                <th class="text-muted">Вес, г</th>
                <th class="text-muted">Калорийность, ккал</th>
                <th class="text-muted">Углеводы, г</th>
                <th class="text-muted">Белки, г</th>
                <th class="text-muted">Жиры, г</th>
                <th class="text-muted">&nbsp;У&nbsp;/&nbsp;Б&nbsp;/&nbsp;Ж&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="$ctrl.isEmpty()">
                <td colspan="8" class="table__emptyRow">
                    Добавьте <a class="link link--local">продукт</a>, <a class="link link--local">блюдо</a>, <a class="link link--local">трапезу</a>
                </td>
            </tr>
            <tr ng-repeat="item in $ctrl.items">
                <td>{{ item.time }}</td>
                <td>
                    <a ui-sref="food.edit({ foodId: item.$id })">{{ item.shortName }}</a>
                </td>
                <td>{{ item.weight }}</td>
                <td>{{ item.energy }}</td>
                <td>{{ item.carbohydrate }}</td>
                <td>{{ item.protein }}</td>
                <td>{{ item.fat }}</td>
                <td>{{ $ctrl.getRatio(item) }}</td>
            </tr>
        </tbody>
    </table>

    <!-- <div class="row day__form">
        <div class="col-md-1">
            <input type="text" class="input-sm form__time" placeholder="Время">
        </div>
        <div class="col-md-4">
            <input type="text" class="input-sm form__name" placeholder="Наименование">
        </div>
        <div class="col-md-1">
            <input type="text" class="input-sm form__weight" placeholder="Вес, г">
        </div>
        <div class="col-md-1">
            <input type="text" class="input-sm form__energy" placeholder="Калорийность, ккал">
        </div>
        <div class="col-md-1">
            <input type="text" class="input-sm form__carbohydrate" placeholder="Углеводы, г">
        </div>
        <div class="col-md-1">
            <input type="text" class="input-sm form__protein" placeholder="Белки, г">
        </div>
        <div class="col-md-1">
            <input type="text" class="input-sm form__fat" placeholder="Жиры, г">
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-sm form__button"><i class="fa fa-plus"></i> Добавить</button>
        </div>
    </div> -->
</div>
