<div class="site-wrapper-inner">
    <div class="cover-container">

        <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand"><i class="fa fa-book"></i> Foodiary</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#diary">Diary</a></li>
                        <li class="active"><a href="#about">About</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="inner cover">
            <div class="row">
                <div class="col-md-12">
                    About page
                </div>
            </div>
        </div>
        
        <div class="mastfoot">
            <div class="inner">
                <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </div>

    </div>
</div>
