<div class="site-wrapper-inner site-wrapper-inner--dairy">
    <div class="cover-container">

        <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand"><i class="fa fa-book"></i> Foodiary</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li><a href="#home">Home</a></li>
                        <li class="active"><a href="#diary">Diary</a></li>
                        <li><a href="#about">About</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="inner cover dairy">

            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <button type="button" class="btn btn-default active" ng-click="onClickToday()">Today</button>
                        <button type="button" class="btn btn-default" ng-click="onClickTomorrow()">Tomorrow</button>
                    </div>
                </div>
            </div>

            <div class="row" ng-repeat="repast in repasts">
                <div class="col-md-12">
                    <repast></repast>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="page-footer">
                        <div class="dairy__total">
                            <div class="total__item item--title">Total:</div>
                            <div class="total__item item--weight">{{getRepastWeight()}} г.</div>
                            <div class="total__item item--calory">{{getRepastCalory()}} ккал</div>
                            <div class="total__item item--value">{{getRepastProtein()}} / {{getRepastFat()}} / {{getRepastCarbs()}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="mastfoot">
            <div class="inner">
                <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </div>

    </div>
</div>

