<div class="foodiary__page foodiary__page--promo">
    <div class="row">
        <h1 class="cover-heading">Ваш дневник питания на каждый день</h1>
        <p class="lead">Учёт калорий, жиров, белков и углеводов</p>
        <p class="lead">
            <button type="button" class="btn btn-lg btn-success" ng-click="$ctrl.begin()" ng-disabled="$ctrl.progress">
                <i class="fa fa-lg fa-spinner fa-spin" ng-if="$ctrl.progress"></i> Попробовать
            </button>
            <a ui-sref="login" class="btn btn-lg btn-primary" ng-disabled="$ctrl.progress">Войти</a>
        </p>
    </div>
</div>
