<div class="dairy__day">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="heading__item item__name">
                <span class="link--local" ng-click="onClickRepast()">{{repast.name}}</span>
            </div>
            <div class="heading__item heading__item--right">
                <div class="day__item--header item--weight">{{getRepastWeight(repast.data)}} г.</div>
                <div class="day__item--header item--calory">{{getRepastCalory(repast.data)}} ккал</div>
                <div class="day__item--header item--value">{{getRepastProtein(repast.data)}} / {{getRepastFat(repast.data)}} / {{getRepastCarbs(repast.data)}}</div>
            </div>
        </div>
        <table ng-if="isOpen" class="table table-hover table-bordered animate-if">
            <tr ng-repeat="item in repast.data">
                <td class="day__item item--name">{{item.name}}</td>
                <td class="day__item item--weight">{{item.weight}} г.</td>
                <td class="day__item item--calory">{{item.calory}} ккал</td>
                <td class="day__item item--value">{{item.protein}} / {{item.fat}} / {{item.carbs}}</td>
            </tr>
        </table>
    </div>
</div>
